:root{
    --font: Arial;
    --clr-first: #1d293a;
    --clr-second: #222629;
    --clr-third: #6b6e70    ;
    --clr-fourth: #86c232;

    margin: 0;
    padding: 0;
}
body{
    margin-top: 50px;
    background: var(--clr-first);
    font-family: var(--font);
}
.container{
    margin: auto;
    width: 600px;
    border: 5px solid var(--clr-fourth);
    border-radius: 5px;
    background: var(--clr-second);
}
.title{
    text-align: center;
    color: white;
    border-bottom: 5px solid var(--clr-fourth);
    font-style: italic;
    font-size: 0.95rem;
}
label{
    display: block;
    font-weight: bold;
}
input{
    width: 100%;
}
input[type="submit"]{
    height: 30px;
    color: black;
    font-weight: bold;
    background-color: var(--clr-fourth);
}

.form__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin:20px auto; 
    width: 60%;
    /* border: 2px solid var(--clr-fourth); */
    background: var(--clr-second);
}
.form{
    padding: 5%;
}
.form__item{
    padding-bottom: 20px;
}
.form__button{
    margin-top: 30px;
    text-align: center;
}
.form__output{
    font-size: 0.9rem;
    margin-top: 30px;
    border: 4px solid var(--clr-fourth);
    background: var(--clr-first);
    text-align: center;
}
.form__output #result{
    font-size: 1.5rem;
    font-weight: bold;
}
.form__output p#nre{
    font-weight: bold;
}
.form__output .guide{
    margin-top: 30px;
    font-weight: bold;
}
@media (max-width:790px) {
    .title{
        font-size: 0.9rem;
    }
    .container{
        width: 80%;
    }
    .form__wrapper{
        width: 70%;
        padding: 5%;
    }
    .form__output .guide{
        font-size: 0.7rem;
    }
}
@media (max-width:550px) {
    .container{
        width: 80%;
    }
}
