*{
    font-family: Arial;
}
body{
    margin: 2%;
    background: rgb(43, 45, 51);
}
.heading{
    text-align: center;
    margin-bottom: 2%;
    color: white;
}
.heading p{
    font-style: italic;
}
.formContainer{
    margin: 0px auto;
    width: 33%;
    padding: 2%;
    border: 10px solid rgb(78, 78, 104);
    background: #333;
}
.formClass{
    margin: 50px auto; 
    width: 50%;
    padding: 2%;
    border: 5px solid rgb(94, 94, 109);
    background: rgb(119, 119, 119);
}
.formItem{
    margin-bottom: 10px;
}
label{
    font-weight: bold;
}
input{
    width: 100px;
}
.button{
    margin-top: 30px;
    text-align: center;
}
.output{
    padding: 5%;
    margin-top: 30px;
    border: 5px solid #333;
    background: rgb(116, 116, 139);
}
.output p#nre{
    font-weight: bold;
}
.output .follow{
    margin-top: 30px;
}
.output .follow p{
    font-weight: bold;
}
@media (max-width:680px) {
    .formContainer{ 
        width: 70%;
    }
    .formClass{
        width: 90%;
    }
} 